/* Import Mixins and Variables */
@import "_base.scss";

body, h1, h2, h3, h4, h5, h6, ul, li, div {
  font-family: $normal;
}
#credit {
  float: right; /* LTR */
  padding: 20px 0 40px;
}
body.in-maintenance #credit {
  color: #fff;
  margin: 0 auto;
  width: 960px;
}
#credit .message {
  clear: right; /* LTR */
  float: right; /* LTR */
  margin-bottom: 20px;
  width: 180px;
}
/* on white */
#credit .logo a {
  background: transparent url("../images/logo-red.png") no-repeat 0 0;
  clear: right; /* LTR */
  float: right; /* LTR */
  height: 0;
  overflow: hidden;
  padding: 74px 0 0;
  width: 180px;
}
/* on red */
body.in-maintenance #credit .logo a {
  background: transparent url("../images/logo-white.png") no-repeat 0 0;
}

/* Installation/Maintenance Page */
body.in-maintenance {
  background: #256ba7 url("../images/installation-bg.png") repeat 0 0;

  .body-wrapper {
    @include gradient-vertical(#569ad4,#256ba7);

    .page-outer {
      background: transparent url("../images/installation-bg.png") repeat 0 0;
      padding: 40px 0;

    }
  }

  #branding {
    @include round-corners(5px,5px,0,0);
    box-shadow: none;
    background: #f4f4f4;
    border: 1px solid #edebeb;
    margin: 0;
    padding: 30px 40px;
    width: 960px;

    h1.page-title {
      color: #747474;
      float: right; /* LTR */
      font-size: 32px;
      line-height: 1em;
      padding: 10px 0;
      width: 550px;
    }
  }

  #page {
    @include box-shadow(0,5px,5px,rgba(0,0,0,.28));
    @include round-corners(5px,5px,5px,5px);
    background: transparent;
    background: #ffffff;
    padding: 0;
    width: 960px;
    overflow: hidden;
  }

  .page-wrapper {
    padding: 40px;
    width: 960px;
  }

  .logo-wrapper {
    float: left; /*LTR */
  }

  #logo {
    margin: 0;
    max-width: 100%;
  }

  #sidebar-first {
    width: 270px;
  }

  fieldset .fieldset-wrapper,
  fieldset.collapsible  {
    border: 1px solid #ccc;
    padding: 15px;

    input.form-text {
      width: 100%;
    }
  }

  ol.task-list {
    background: transparent url("../images/wizard-bg.png") repeat-y 0 0;

    li {
      background: transparent url("../images/tasks-inactive.png") no-repeat 5px 4px;
      color: #9a9a9a;
      font: normal 400 16px/18px $normal;
      height: 30px;
      padding: 6px 0 0 40px; /* LTR */
      margin: 0 0 22px 0; /* LTR */
    }

    li.active {
      background: transparent url("../images/tasks-active.png") no-repeat 5px 4px;
      color: #2e87cd;
    }

    li.done {
      background: transparent url("../images/tasks-complete.png") no-repeat 5px 4px;
      color: #75cd27;
    }
  }

  div.form-type-password {
    width: 500px;
  }

  .password-strength {
    width: 15em;
  }
}
